
.crs-search-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 30px;
}

.crs-search-categories-item {
    padding: 10px;
}

.crs-search-categories-item:hover {
    background-color: #4fc865;
    cursor: pointer;
}

.crs-search-res-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.crs-search-res-gallery-container {
    overflow: hidden;
}

.crs-search-res-container-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.crs-search-res-container-item .crs-search-res-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crs-search-res-container-item .crs-search-res-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.crs-search-res-container-item .crs-search-res-image img:hover {
    transform: scale(1.5);
}

.crs-search-res-container-item .crs-search-res-body {
    height: 40%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;

    /* no events on text hover */
    pointer-events: none;

    z-index: 1;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px) saturate(3);
}

.crs-search-res-container-item .crs-search-res-stats {
    /*display: grid;*/
    display: none;
    grid-template-columns: repeat(4, 1fr);

    height: 10%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;

    /* no events on text hover */
    pointer-events: none;

    z-index: 1;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px) saturate(3);
}


/*.crs-search-res-stats-item p {*/
/*    color: black;*/
/*}*/

/*.crs-search-res-stats-item p:before {*/
/*    position: relative;*/
/*    content: "";*/
/*    display: block;*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    float: left;*/
/*    background: url("../pract8/star.png") no-repeat;*/
/*}*/

.crs-search-res-like {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    width: 35px;
    height: 35px;
    /*overflow: hidden;*/
    top: 5px;
    /*background-color: white;*/
    right: 5px;
}

.crs-search-res-like-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    backdrop-filter: blur(5px) saturate(3);
}

.crs-search-res-like-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.crs-search-res-body .crs-search-res-text-header {
    font-weight: bold;
    font-size: var(--h2-size)
}

.crs-search-res-container-item:hover .crs-search-res-body {
    opacity: 1;
    animation: move-up 0.3s linear;
    width: 100%;
}

.crs-search-res-container-item:hover .crs-search-res-stats {
    opacity: 1;
    animation: crs-move-down 0.3s linear;
    width: 100%;
}

@keyframes crs-move-down {
    0% {
        top: -10%;
    }
    50% {
        top: -5%;
    }
    100% {
        top: 5%;
    }
}

@keyframes move-up {
    0% {
        top: 100%
    }
    50% {
        top: 90%
    }
    100% {
        top: 80%
    }
}

@media screen and (max-width: 1024px) {
    .crs-search-categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    /*.crs-search-categories {*/
    /*    grid-template-columns: repeat(1, 1fr);*/
    /*}*/
}

@media screen and (max-width: 512px) {
    .crs-search-res-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .abt-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {
        grid-column: span 1;
    }
}